h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h1, h2, h3, h4, h5, h6 { font-family: 'Century Gothic', 'Heiti TC', Questrial, sans-serif; font-weight: 100; }

body { font-family: "segoe ui", verdana, arial, sans-serif; }

legend { font-size: 18px; padding-left: 10px; }


.logo { width: 338px; height: 62px; background-image: url(/img/logo.png); }

.header .navbar-inner { height: 170px; border: none; -webkit-box-shadow: none; box-shadow: none; }

.header nav { font-family: 'Century Gothic', 'Heiti TC', Questrial, sans-serif; font-size: 15px; }

#logoutForm { display: inline; }

.padding { padding-left: 10px; }


#body { position: relative; margin-top: -100px; background-color: white; border-radius: 5px 5px 5px 5px; box-shadow: 0 0 25px rgba(0, 0, 0, .3);  }

.body-header { background-color: rgba(0, 0, 0, .02); padding: 5px 10px; border-radius: 5px 5px 0 0; height: 90px; }

/* footer */

footer.navbar { margin: 0; color: lightGrey; }
footer.navbar-inverse .navbar-inner { border-radius: 0 0 4px 4px; background: #183f66; }
footer .copyright { text-align: center; font-size: 12px; }
footer .small-logo { background-image: url(/img/logo-inverse.png); height: 50px; background-repeat: no-repeat; margin-top: 20px; margin-left: 20px; }


/* right scenarios */
.right { text-align: right; }
.navbar .right .nav { margin-right: -15px; }


/* validation */

.field-validation-valid { display: none; }
.field-validation-error { display: block; padding: 3px; }
.input-validation-error { border: 1px solid #ff0000; background-color: #ffeeee; }
.validation-summary-errors span{ }

/* login */

.form-horizontal .external-login .controls { margin-left: 0; text-align: center; margin-bottom: 25px; }
