h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h1, h2, h3, h4, h5, h6 { font-family: 'Century Gothic', 'Heiti TC', Questrial, sans-serif; font-weight: 100; }

body { font-family: "segoe ui", verdana, arial, sans-serif; }

legend { font-size: 18px; padding-left: 10px; }


.logo { width: 338px; height: 62px; background-image: url(/img/logo.png); }

.header .navbar-inner, footer .navbar-inner { height: 170px; border: none; -webkit-box-shadow: none; box-shadow: none; }

.header nav { font-family: 'Century Gothic', 'Heiti TC', Questrial, sans-serif; font-size: 15px; }

#logoutForm { display: inline; }

.padding { padding-left: 10px; }

.hidden { display: none; }

.header .row { margin-top: 15px; }


#page { position: relative; margin-top: -80px; background-color: white; border-radius: 5px 5px 5px 5px; box-shadow: 0 0 25px rgba(0, 0, 0, .3);  }

#page header { background-color: rgba(0, 0, 0, .02); padding: 5px 25px; border-radius: 5px 5px 0 0; height: 90px; }*/

/* footer */
footer { margin: -50px 0 0 0; }
footer { background-image: -webkit-linear-gradient(top,#F2F2F2,white); }
    footer .container { padding-top: 60px; }
    footer .inline { display: inline-block; text-align: left; }

footer .copyright { text-align: center; font-size: 12px; border-top: solid 1px #D5D5D5;}
footer .small-logo { background-image: url(/img/logo-inverse.png); height: 50px; background-repeat: no-repeat; margin-top: 20px; margin-left: 20px; }


/* right scenarios */
.right { text-align: right; }
.navbar .right .nav { margin-right: -15px; }


/* validation */

.field-validation-valid { display: none; }
.field-validation-error { display: block; padding: 3px; }
.input-validation-error { border: 1px solid #ff0000; background-color: #ffeeee; }
.validation-summary-errors span{ }

/* login */

.form-horizontal .external-login .controls { margin-left: 0; text-align: center; margin-bottom: 25px; }


/* home */

.hero-movie { text-align: center; margin: 50px 0; padding-left: 20px;}

/* general */

.center { text-align: center; vertical-align: middle; }

.margin10 { margin: 10px; }

/* map */

.initially-hidden-map { display: block; position: absolute; }
.initially-hidden-map div { position: relative; left: -2000px; top: 0; }

/*  slide */

/* note: all the slides together should fit slider's width */
.slider { overflow: hidden; }
    .slider > div { width: 3000px; position: relative;}

.slider .slide { width: 700px; position: relative; display: inline-block; vertical-align:top; }


/* scene */

.scene { padding: 0 20px; }