@model IBrickViewModel<HtmlBrick>

@{
    ViewBag.Title = "Edit";
    this.GetStyleBundle().Include(new[] { ContentUrl.Styles.DesignBrick });
    this.GetScriptBundle().Include(new []
    {
        ContentUrl.Scripts.EditHtmlBrick
    });
}

<div class="editor-label">Content</div>
<div class="editor-field">
    @Html.TextAreaFor(model => model.Content.Html, new { id = "htmlTextArea"})
</div>