@model LinkableBrick

@{
    ViewBag.Title = "Edit";
    var bricks = ViewBag.BricksToLink as IEnumerable<SelectListItem>;
}

<div class="editor-label">Brick To Link</div>
<div class="editor-field">
    @Html.DropDownList("linkedContentId", bricks)
</div>
