@model MapBrickViewModel
@{
    this.GetScriptBundle().Include(new []
    {
        "~/Areas/Cms/Scripts/view-map-content.js"
    });
}

<div class="map-canvas-wrapper" zoom="@Model.Content.Zoom" gpsLocation="@Model.GpsLocation" gpsBounds="@Model.GpsBounds">
    <div id="mapCanvas" style="height: @(Model.Content.Height)px"></div>
</div>
