@model SceneViewModel

<div id="scene">
    @foreach (var wall in Model.Walls ?? Enumerable.Empty<WallViewModel>())
    {
        @Html.Partial(ContentUrl.Views.Scene.Partial.DesignWall, wall)
    }
</div>
<div id="wallPrototype">
    @Html.Partial(ContentUrl.Views.Scene.Partial.DesignWall, new WallViewModel { Width = 100.0F })
</div>
<div id="brickPrototype">
    @Html.Partial(ContentUrl.Views.Scene.Partial.DesignBrick, new BrickViewModel { Width = 100.0F })
</div>

@{
    this.RenderStylesAndScripts();
}