
.page-view table
{
    width: 100%;
}

.page-view td
{
    vertical-align: top;
}

.page-view .list-header, .page-view .list
{
    padding: 5px;
}

.page-view .list-header
{
    padding-left: 10px;
    font-weight: bold;
}

.page-view sup
{
    color: #6c6c6c;
    font-weight: bold;
}
