
.page-view table
{
    width: 100%;
}

.page-view td
{
    vertical-align: top;
}

.page-view .list-header, .page-view .list
{
    padding: 5px;
}

.page-view .list-header
{
    padding-left: 10px;
    font-weight: bold;
}

.page-view h2 sup
{
    color: #6c6c6c;
    font-weight: bold;
    font-size: 70%;
}

.page-view .list sup.alter a
{
    color: #b60e00;
    font-size: 130%;
    font-family: Consolas;
}

.page-view .alter input
{
    color: #b60e00;
}
