#wallScene
{
    width: 100%;
    min-height: 100px;
    height: auto;
    overflow: hidden;
}

.brick-wrapper
{
    width: 100%;
    float: left;
    max-width: 100%;
    min-height: 1px;
}

.brick-wrapper .brick
{
    width: auto;
    min-height: 62px;
    margin: 5px;    
    overflow: hidden;
}

.map-canvas-wrapper {
    width: auto;
    padding: 1px;
    border: solid black 1px;
}

#map_canvas 
{
    width: 100%;
    height: 100%;
}

