#wallScene
{
    border: 1px solid navy;
    margin: 20px 0px;
}

.brick-wrapper .brick
{
    border: 1px dashed red;
}

.brick .header
{
    display: block;
    width: 100%;
    background-color: #e5e5e5;
    border-bottom: 1px dashed gray;
    cursor: move;
}

.brick a.delete, .brick a.edit
{
    cursor: pointer;
    float: right;
}

#brickPrototype
{
   display: none;
}

.brick .content {
    padding: 1px;   
}

.map-canvas-wrapper {
    padding: 0;
    border: none;
}