#wallScene
{
    border: 1px solid navy;
}

.brick-wrapper .brick
{
    border: 1px dashed red;
}

.brick-header
{
    display: block;
    width: 100%;
    height: 20px;
    background-color: #e5e5e5;
    border-bottom: 1px dashed gray;
}