#scene
{
    width: 100%;
    min-height: 100px;
    height: auto;
    overflow: hidden;
}

.wall-wrapper, .brick-wrapper
{
    width: 100%;
    float: left;
    max-width: 100%;
    min-height: 1px;
}

.wall-wrapper .wall, .brick-wrapper .brick
{
    width: auto;
    min-height: 62px;
    margin: 5px;    
    overflow: hidden;
}

.map-canvas-wrapper {
    width: auto;
    padding: 1px;
    border: solid lightgray 1px;
}

#mapCanvas 
{
    width: 100%;
    height: 100%;
}

/*#region Brick Content */

.brick-title { margin-top: 20px; }
    .brick-title span { font-size: 20px; padding-left: 15px;  }
    .brick-title hr { margin: 0; }

/*#endregion */

