@model HtmlContent

@{
    ViewBag.Title = "Edit";
    this.GetStyleBundle().Include(new[] { "~/WebExtracted/Ms.Cms/Styles/DesignBrick.css" });
}

<div class="editor-label">Content</div>
<div class="editor-field">
    @Html.TextAreaFor(model => model.Html, new { id = "htmlTextArea"})
</div>