@model TabsContent

@{
    this.GetScriptBundle().Include(new[]
    {
        "~/Areas/Cms/Scripts/edit-tabs-content.js"
    });
    var tabs = (Model == null || Model.Tabs == null) ? new string[] { } : Model.Tabs;
}

    @foreach (var tab in tabs)
    {
        <div>
            <input name="tabs" style="width: 700px;" type="text" readonly="true" value="@tab" /><input class="button-remove btn" type="button" value="Remove" />
        </div>
    }
    <div id="new-tabs"></div>
    
    <input id="button-add" class="btn" type="button" value="Add" />
<br />
<br />
<br />
<br />