@model BrickViewModel<TocContent>

@{
    var contents = (ViewBag.TocBricks as IEnumerable<BrickContent>) ?? Enumerable.Empty<BrickContent>();
}

@foreach (var content in contents)
{
    <a href="#@content.GetHtmlId()">@content.ContentTitle</a><br />
}
