@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>     
First Leader Aside
</p
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a nibh ut tortor dapibus vestibulum. Aliquam vel sem nibh. Suspendisse vel condimentum tellus.
</p>

