@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>
        @Html.ActionLink("Feedback Report", "FeedbackReport")
    </li>
    <li>
        @Html.ActionLink("Refresh Community Ratings", "RefreshRatings")
    </li>
</ul>




