<h2>Edit linkable bricks</h2>

<div class="page-view">
    <h4>
        <a href="@Html.ViewContext.RequestContext.GetBackUrl()">Cancel</a>
    </h4>
    @{ this.RenderScene(Constants.LinkableBricksSceneId, design: true); }
</div>