@model IEnumerable<SpecialScene>

@{
    ViewBag.Title = "TemplateIndex";
}

<h2>TemplateIndex</h2>

<ul>
@foreach(var template in Model)
{
    <li>@Html.ActionLink(template.Title, "EditScene", new { id = template.SceneId })</li>
}
</ul>