@model SceneViewModel
@{
    this.GetStyleBundle().Include(new[]
    {
        ContentUrl.Styles.Scene
    });
}

<div id="scene">
    @foreach (var wall in Model.Walls ?? Enumerable.Empty<WallViewModel>())
    {
        <div class='wall-wrapper' style='width:@wall.WidthString'>
        @foreach (var brick in wall.Bricks ?? Enumerable.Empty<IBrickViewModel<Brick>>())
        {
            @*<div id="@brick.GetHtmlId()" class='brick-wrapper tabname_@brick.OwnerTabName tabindex_@brick.OwnerTabIndex' style='width:@brick.WidthString;display:@((!brick.OwnerTabIndex.HasValue || brick.OwnerTabIndex == 0) ? "block" : "none")'>*@
            <div id="@brick.GetHtmlId()" class='brick-wrapper' style='width:@brick.WidthString'>
                @Html.Partial(ContentUrl.Views.Brick.View, brick)
            </div>
        }
        </div>
    }
</div>

@{
    this.RenderStylesAndScripts();
}