@model SceneViewModel
@{
    this.GetStyleBundle().Include(new[]
    {
        ContentUrl.Styles.Scene
    });
}

<div id="scene">
    @foreach (var wall in Model.Walls ?? Enumerable.Empty<WallViewModel>())
    {
        <div class='wall-wrapper' style='width:@wall.WidthString'>
        @foreach (var brick in wall.Bricks ?? Enumerable.Empty<BrickViewModel>())
        {
            <div id="@brick.Content.GetHtmlId()" class='brick-wrapper' style='width:@brick.WidthString'>
                @Html.Partial(ContentUrl.Views.BrickContent.View, brick)
            </div>
        }
        </div>
    }
</div>

@{
    this.RenderStylesAndScripts();
}