@model ICollection<AuthenticationClientData>

@if (Model.Count == 0)
{
    <div class="message-info">
        <p>There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=252166">this article</a>
        for details on setting up this ASP.NET application to support logging in via external services.</p>
    </div>
}
else
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
    {
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Log in using another service</legend>
        <div class="control-group external-login">
            @foreach (AuthenticationClientData p in Model)
            {
                <div class="controls">
                    <input type="submit" id="submit_@p.AuthenticationClient.ProviderName" name="provider" style="display: none" 
                        value="@p.AuthenticationClient.ProviderName" />
                    <a href="#" onclick="$('#submit_@p.AuthenticationClient.ProviderName').click()">
                        <img title="Log in using your @p.DisplayName account" src="~/img/Login/@(p.DisplayName)30.png" />
                    </a>
                </div>
            }
        </div>
    </fieldset>
    }
}
