@model BrickViewModel

@if (Model.Content != null && Model.Content.IsTitleVisible)
{
    <div class="brick-title">@Model.Content.ContentTitle</div>
}

@Html.Partial(Model.Content.GetBrickView(this.Server), Model.Content)