@model Scene

<div id="scene">
    @foreach (var wall in Model.Walls)
    {
        @Html.Partial("~/WebExtracted/Ms.Cms/Views/Wall/DesignWall.cshtml", wall)
    }
</div>
<div id="wallPrototype">
    @Html.Partial("~/WebExtracted/Ms.Cms/Views/Wall/DesignWall.cshtml", new Wall { Width = 100.0F })
</div>
<div id="brickPrototype">
    @Html.Partial("~/WebExtracted/Ms.Cms/Views/Brick/DesignBrick.cshtml", new Brick { Width = 100.0F })
</div>

@{
    this.RenderStylesAndScripts();
}