@using Ms.Cms

<h2>Edit linkable bricks</h2>

<div class="page-view">
    <h4>
        <a href="@Html.ViewContext.RequestContext.GetBackUrl()">Cancel</a>
    </h4>
    @this.RenderDesignScene(Constants.LinkableBricksSceneId)
</div>