@model Scene

<div id="scene">
    @foreach (var wall in Model.Walls)
    {
        @Html.Partial("~/WebExtracted/Ms.Cms/Views/Wall/Wall.cshtml", wall)
    }
</div>

@{
    this.RenderStylesAndScripts();
}