@model Scene
@{
    this.GetStyleBundle().Include(new[]
    {
        "~/WebExtracted/Ms.Cms/Styles/Scene.css",
    });
}

<div id="scene">
    @foreach (var wall in Model.Walls)
    {
        @Html.Partial("~/WebExtracted/Ms.Cms/Views/Wall/Wall.cshtml", wall)
    }
</div>

@{
    this.RenderStylesAndScripts();
}