<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <MSDeployServiceURL>bnh.msilivonik.com</MSDeployServiceURL>
    <DeployIisAppPath>bnh.msilivonik.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <DeployAsIisApp>False</DeployAsIisApp>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>bnh.msilivonik.c_pub</UserName>
    <SavePWD>True</SavePWD>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Ms.Cms" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbSqlPackage">
            <PreSource Path="mongodb://bnh:mybnh!1@ds029837.mongolab.com:29837/bnh" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Ms.Cms_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="mongodb://127.0.0.1/bnh?safe=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbDacFx">
            <PreSource Path="mongodb://127.0.0.1/bnh?safe=true" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Ms.Cms_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Ms.Cms-Web.config Connection String" />
  </ItemGroup>
</Project>