<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <MSDeployServiceURL>bnh.msilivonik.com</MSDeployServiceURL>
    <DeployIisAppPath>bnh.msilivonik.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <DeployAsIisApp>False</DeployAsIisApp>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>bnh.msilivonik.c_pub</UserName>
    <SavePWD>True</SavePWD>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultMongoConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbSqlPackage">
            <PreSource Path="mongodb://bnh:mybnh!1@ds029837.mongolab.com:29837/bnh" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultMongoConnection_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="mongodb://bnh:mybnh!1@ds029837.mongolab.com:29837/bnh" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=localhost\sqlserver;Initial Catalog=bnh;Integrated Security=True" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=localhost\sqlserver;Initial Catalog=bnh;Integrated Security=SSPI;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Bnh.Entities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbSqlPackage">
            <PreSource Path="mongodb://bnh:mybnh!1@ds029837.mongolab.com:29837/bnh" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Bnh.Entities_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="mongodb://bnh:mybnh!1@ds029837.mongolab.com:29837/bnh" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Ms.Cms" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbSqlPackage">
            <PreSource Path="mongodb://bnh:mybnh!1@ds029837.mongolab.com:29837/bnh" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Ms.Cms_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="mongodb://bnh:mybnh!1@ds029837.mongolab.com:29837/bnh" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>