@model TocContent

@{
    IEnumerable<Brick> contentBricks = null;
    using(var db = new CmsEntities())
    {
        contentBricks = db.Walls
            .Where(w => w.SceneId == Model.Wall.SceneId)
            .OrderBy(w => w.Order)
            .SelectMany(w => w.Bricks)
            .ToList()
            .Select(b => b.EnsureNonLinked())
            .Where(b => !string.IsNullOrWhiteSpace(b.ContentTitle));
    }
}

<p>Table of Content
@foreach (var brick in contentBricks)
{
    <br /><a href="#@brick.GetHtmlId()" >@brick.ContentTitle</a>
}
</p>
