@model Brick

<div class='brick-wrapper' style='width:@Model.Width.ToString("F")%' entity-data='@Model.ToJson()'>
    <div class='brick'>
        <div class='header'>
            <span class='title'>@Model.Title</span>
            <a class='delete'>delete</a>
            @Html.ActionLink("edit", "Edit", "Brick", new { id = Model.BrickContentId }, new { @class = "edit" })
        </div>
        <div class='content'>
            @Html.Partial("~/WebExtracted/Ms.Cms/Views/Brick/BrickContent.cshtml", Model.GetContent())
        </div>
    </div>
</div>