@model LinkableBrick

@{
    ViewBag.Title = "Edit";
    IEnumerable<SelectListItem> bricks = null;
    using(var cm = new CmsEntities())
    {
        bricks = cm.Bricks
            .Where(b => b.Wall.Scene.OwnerGuidId == Constants.LinkableBricksSceneGuid)
            .Select(b => new { Id = b.Id, Title = b.Title}) // reduce SQL scope
            .ToList()
            .Select(b => new SelectListItem { Value = b.Id.ToString(), Text = b.Title });
    }
}

<div class="editor-label">Brick To Link</div>
<div class="editor-field">
    @Html.DropDownList("linkedBrickId", bricks)
</div>
