@model BrickViewModel

<div class='brick-wrapper' style='width:@Model.WidthString' entity-data='@Model.ToJson()'>
    <div class='brick'>
        <div class='header'>
            <span class='title'>@Model.Title</span>
            <a class='delete'>delete</a>
            @Html.ActionLink("edit", "Edit", "BrickContent", new { id = Model.BrickContentId }, new { @class = "edit" })
        </div>
        <div class='content'>
            @Html.Partial(ContentUrl.Views.BrickContent.View, Model)
        </div>
    </div>
</div>