@using Bnh.Entities
@model Community

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-view">

<div>
    <div id="wallToolbar">
        <input id="editWallButton" type="button" value="Add Row" />
    </div>    
    <div id="wallScene">
    @foreach (var brick in Model.GetWallBricks())
    {
       // @Html.RenderBrick(brick)
    }
    </div>
</div>
</div>