@using Bnh.Entities
@model Bnh.Entities.Community

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-view">
    <h2>Welcome to @Model.Name<sup>@Model.Zone.Name</sup> page</h2>

    <p>Community details will go here...</p>

<div>
    <div id="wallToolbar">
        <input id="editWallButton" type="button" value="Add Row" />
    </div>    
    <div id="wallScene">
    @foreach (var brick in Model.GetWallBricks())
    {
       // @Html.RenderBrick(brick)
    }
    </div>
</div>
</div>