@using Bnh.Entities
@model Community
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Styles/Wall.css")" rel="stylesheet" type="text/css" />
<div class="page-view">
    <h2>            
        @Model.GetWall().Title
        @if (Context.User.IsInRole("content_manager"))
        {
            <sup class="alter">@Html.ActionLink("edit", "Edit", "WallTest", new { id = Model.GetWall().Id }, null)</sup>
        }
    </h2>
    @Html.Partial("WallScene", Model.GetWallBricks())
</div>
