@using Bnh.Web.Models

@model Bnh.Entities.Brick

<div id="@Model.GetHtmlId()" class='brick-wrapper' style='width:@Model.Width.ToString("F")%'>
    @Html.Partial("~/Views/Brick/BrickContent.cshtml", Model)
</div>