@model Ms.Cms.Models.LinkableBrick

@using Ms.Cms.Models

@{
    ViewBag.Title = "Edit";
    IEnumerable<SelectListItem> bricks = null;
    using(var cm = new CmEntities())
    {
        bricks = cm.Bricks
            .Where(b => b.Wall.OwnerId == Constants.LinkableBricksSceneGuid)
            .Select(b => new { Id = b.Id, Title = b.Title}) // reduce SQL scope
            .ToList()
            .Select(b => new SelectListItem { Value = b.Id.ToString(), Text = b.Title });
    }
}

<div class="editor-label">Brick To Link</div>
<div class="editor-field">
    @Html.DropDownList("brickToLink", bricks);
</div>
