@model Bnh.Entities.HtmlBrick

@{
    ViewBag.Title = "Edit";
}

<div class="editor-label">Content</div>
<div class="editor-field">
    @Html.TextAreaFor(model => model.Html, new { id = "htmlTextArea"})
    @*@Html.ValidationMessageFor(model => model.Html)*@
</div>