@{
    ViewBag.Title = "Home";
}

<div class="body-header">
    <div class="span0"></div>
    
    <h1>@ViewBag.Title</h1>
    <h4>Welcome to BrandNewHomes.ca</h4>
</div>

<div class="row">
    <div class="span12 hero-movie">
        <h1>Coming soon...</h1>
    </div>
</div>