@{
    ViewBag.Title = "Home";
    ViewBag.Description = "Welcome to BrandNewHomes.ca";
}

<div class="row">
    <div class="span12 hero-movie">
        <h1>Coming soon...</h1>
    </div>
</div>