@{
    ViewBag.Title = "Feedback";
    ViewBag.Description = "Thank You!";
}

<div class="row center">
    <p>Your feedback helps us find new ways to make the website better...</p>
    <a class="btn" href="@ViewBag.BackUrl">Back</a>
</div>