@{
    ViewBag.Title = "Home";
    ViewBag.Description = "Welcome to BrandNewHomes.ca";
}

<div class="row">
    <div class="span12 hero-movie">
        <iframe src="http://player.vimeo.com/video/51971595" width="700" height="393" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
</div>
<div class="row">
    <div class="span12 center hero-movie">
        @Html.ActionInputLink("Start search now", "Index", "Community", null, new Dictionary<string, object>() { { "style", "text-transform: uppercase" },  {"class", "btn btn-danger"}})
    </div>
</div>