@using Bnh.Entities
@model IEnumerable<Wall>
<div id="scene">
    @foreach (var wall in Model)
    {
        foreach (var brick in wall.Bricks.OrderBy(b => b.Order))
        {
            <div class='brick-wrapper' style='width:@brick.GetUiWidth()'>@brick.GetUiContent()</div>
        }
    }
</div>