@using Bnh.Entities
@model IEnumerable<Wall>
<div id="wallScene">
    @foreach (var wall in Model)
    {
        foreach (var brick in wall.Bricks.OrderBy(b => b.Order))
        {
            @Html.Partial("DesignBrick", brick);
        }
    }
</div>
<div id="brickPrototype">
    @Html.Partial("DesignBrick", new Brick { Width = 100.0F,})
</div>
