@using Bnh.Entities
@model IEnumerable<Wall>
<div id="wallScene">
    @foreach (var wall in Model)
    {
        foreach (var brick in wall.Bricks.OrderBy(b => b.Order))
        {
            @Html.Brick(brick, true)
        }
    }
</div>
<div id="brickPrototype">@Html.BrickPrototype()</div>
