@using Bnh.Entities
@model IEnumerable<Brick>
@{
    var design = Context.User.IsInRole("content_manager");
}
<div id="wallScene">
    @foreach (var brick in Model.OrderBy(b => b.Order))
    {
        @Html.Brick(brick, design)
    }
</div>
<div id="brickPrototype">@Html.BrickPrototype(design)</div>
