@using Bnh.Entities
@model IEnumerable<Brick>
<div id="wallScene">
    @foreach (var brick in Model)
    {
        @Html.Brick(brick)
    }
</div>
<div id="brickPrototype">@Html.BrickPrototype()</div>
