/*
Run this script on:

MIKALAI-PC\SQLSERVER.bnh    -  This database will be modified

to synchronize it with:

MIKALAI-PC\SQLSERVER.bnh-test

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 9.0.0 from Red Gate Software Ltd at 15/02/2012 11:56:36 PM

*/
		
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION


INSERT INTO [dbo].[Applications] ([ApplicationName], [ApplicationId], [Description]) VALUES ( N'', 'A7BC5C13-9F98-4552-A44D-DD3B03ADDFC8', NULL )

INSERT INTO [dbo].[Roles] ([RoleId], [ApplicationId], [RoleName], [Description]) VALUES ('510c9257-1a28-4bc5-9ece-aa9b9e01c33e', 'a7bc5c13-9f98-4552-a44d-dd3b03addfc8', N'content_manager', N'')

-- Add 2 rows to [dbo].[Users]
INSERT INTO [dbo].[Users] ([UserId], [ApplicationId], [UserName], [IsAnonymous], [LastActivityDate]) VALUES ('5f6c6b1e-7c04-4478-b473-19613d33057c', 'a7bc5c13-9f98-4552-a44d-dd3b03addfc8', N'user@bnh.com', 0, '2012-04-01 03:03:45.570')
INSERT INTO [dbo].[Users] ([UserId], [ApplicationId], [UserName], [IsAnonymous], [LastActivityDate]) VALUES ('eb0b1b6c-a455-406e-b9b3-6709bb3ec4f2', 'a7bc5c13-9f98-4552-a44d-dd3b03addfc8', N'admin@bnh.com', 0, '2012-04-01 07:58:33.387')

-- Add 2 rows to [dbo].[Memberships]

-- Add 1 row to [dbo].[UsersInRoles]
INSERT INTO [dbo].[UsersInRoles] ([UserId], [RoleId]) VALUES ('eb0b1b6c-a455-406e-b9b3-6709bb3ec4f2', '510c9257-1a28-4bc5-9ece-aa9b9e01c33e')


-- Drop constraints from [bl].[Community]
ALTER TABLE [bl].[Community] DROP CONSTRAINT [FK_Community_Zone]

-- Drop constraints from [bl].[Zone]
ALTER TABLE [bl].[Zone] DROP CONSTRAINT [FK_Zone_City]

-- Add 1 row to [bl].[City]
INSERT INTO [bl].[City] ([Id], [Name], [UrlId]) VALUES ('a99dee26-ce8b-4635-af06-cf0871f6d299', N'Calgary', N'Calgary')


-- Add 172 rows to [bl].[Builder]
INSERT INTO [bl].[Builder] ([Id], [Name], [UrlId], [CityId]) VALUES ('3d61cf05-1638-4f90-b0e3-001e5e2682f0', N'Millenium Plus Homes', N'MilleniumPlusHomes', 'a99dee26-ce8b-4635-af06-cf0871f6d299')
INSERT INTO [bl].[Builder] ([Id], [Name], [UrlId], [CityId]) VALUES ('e3c18654-1d16-419b-b106-01f3473f4848', N'Crossley Custom Homes Ltd', N'CrossleyCustomHomesLtd', 'a99dee26-ce8b-4635-af06-cf0871f6d299')
INSERT INTO [bl].[Builder] ([Id], [Name], [UrlId], [CityId]) VALUES ('809a8746-7a61-41d1-9cfd-039dc0b397c4', N'Niklas Group Inc.', N'NiklasGroupInc', 'a99dee26-ce8b-4635-af06-cf0871f6d299')


-- Add 4 rows to [bl].[Zone]
INSERT INTO [bl].[Zone] ([Id], [Name], [CityId], [Order], [UrlId]) VALUES ('7d5402cb-fb2f-4bc0-ae81-0829e7dc88b4', N'NE', 'a99dee26-ce8b-4635-af06-cf0871f6d299', 2, N'NE')
INSERT INTO [bl].[Zone] ([Id], [Name], [CityId], [Order], [UrlId]) VALUES ('cf1ba708-849f-4d8a-b1ce-13723dfb3cd0', N'NW', 'a99dee26-ce8b-4635-af06-cf0871f6d299', 1, N'NW')
INSERT INTO [bl].[Zone] ([Id], [Name], [CityId], [Order], [UrlId]) VALUES ('12361602-6505-41c4-90f3-6ac637ab3310', N'SW', 'a99dee26-ce8b-4635-af06-cf0871f6d299', 4, N'SW')

-- Add 46 rows to [bl].[Community]
INSERT INTO [bl].[Community] ([Id], [Name], [ZoneId], [UrlId]) VALUES ('4956140b-d579-4d6c-bfc5-0169957f079f', N'Saddlebrook', '7d5402cb-fb2f-4bc0-ae81-0829e7dc88b4', N'Saddlebrook')
INSERT INTO [bl].[Community] ([Id], [Name], [ZoneId], [UrlId]) VALUES ('897eda6b-d4ba-45b8-bc57-0430c010d7e0', N'Auburn Bay', '8178ab50-dc7d-451e-bfaa-e8892e5e3155', N'AuburnBay')
INSERT INTO [bl].[Community] ([Id], [Name], [ZoneId], [UrlId]) VALUES ('b659195d-15cf-4db6-a760-06655fa9512f', N'Rock Lake Estates', 'cf1ba708-849f-4d8a-b1ce-13723dfb3cd0', N'RockLakeEstates')

-- Add constraints to [bl].[Community]
ALTER TABLE [bl].[Community] ADD CONSTRAINT [FK_Community_Zone] FOREIGN KEY ([ZoneId]) REFERENCES [bl].[Zone] ([Id]) ON DELETE CASCADE ON UPDATE CASCADE

-- Add constraints to [bl].[Zone]
ALTER TABLE [bl].[Zone] ADD CONSTRAINT [FK_Zone_City] FOREIGN KEY ([CityId]) REFERENCES [bl].[City] ([Id]) ON DELETE CASCADE ON UPDATE CASCADE

--commit transaction
--rollback transaction