@using Bnh.Entities
@using Ms.Cms

@model Community
@{
    ViewBag.Title = Model.Name;
    ViewBag.GlobalModel = Model;
    var scene = Model.GetScene();
}

<div class="page-view">
    <h2>            
        @if (Context.User.IsInRole("content_manager"))
        {
            <sup class="alter">@Html.ActionLink("edit properties", "Edit", new { id = Model.UrlId }, null)</sup><br />
            <sup class="alter">@Html.ActionLink("edit scene", "EditScene", new { id = Model.UrlId }, null)</sup>
        }
    </h2>
    @this.RenderScene(scene)
</div>