@model Community
@{
    ViewBag.Title = Model.Name;
    ViewBag.GlobalModel = Model;
}

<div class="page-view">
    <h5>            
        @if (Context.User.IsInRole("content_manager"))
        {
            @Html.ActionLink("edit properties", "Edit", new { id = Model.UrlId }, null)<br />
            @Html.ActionLink("edit scene", "EditScene", new { id = Model.UrlId }, null)
        }
    </h5>
    @Html.ActionLink("Reviews", "Reviews", new { id = Model.UrlId }, null)
    @{ this.RenderScene(Model.CommunityId, Model); }
</div>