@using Bnh.Entities
@model Community
@{
    ViewBag.Title = Model.Name;
    ViewBag.GlobalModel = Model;
}

@section Styles
{
    <link href="~/Styles/Scene.css" rel="stylesheet" type="text/css" />
}

@section Scripts
{
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="~/Scripts/Map.js" type="text/javascript"></script>
    <script src="~/Scripts/BrickContent_Map.js" type="text/javascript"></script>
}

<div class="page-view">
    <h2>            
        @if (Context.User.IsInRole("content_manager"))
        {
            <sup class="alter">@Html.ActionLink("edit properties", "Edit", new { id = Model.Id }, null)</sup><br />
            <sup class="alter">@Html.ActionLink("edit scene", "Edit", "Scene", new { id = Model.GetScene().Id }, null)</sup>
        }
    </h2>
    @Html.Partial("Scene", Model.Walls)
</div>