@model Community

@{
    ViewBag.Title = Model.Name + " community scene editor";
}

<h2>@ViewBag.Title</h2>

<div class="page-view">
    <h4>    
        @Html.ActionLink("edit properties", "Edit", new { id = Model.UrlId })<br />
        @Html.ActionLink("view scene", "Details", new { id = Model.UrlId })
    </h4>
    @{ this.RenderDesignScene(Model); }
</div>