@if (Request.IsAuthenticated) {
    <p>
        @Html.ActionLink(Bnh.Web.Models.AccountProfile.CurrentUserFullNameOrUserName, "Update", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Update account information" })
        |
        @Html.ActionLink("Log off", "LogOff", "Account")
    </p>
} else {
    <p>
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", data_dialog_title = "Identification" })
        |
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", data_dialog_title = "Registration" })
    </p>
}