@model Bnh.Entities.Wall
@{
    var locked = (bool?)ViewBag.LockWalls ?? false;
    var lockedClass = locked ? "locked" : string.Empty;                 
}
<div class='wall-wrapper @lockedClass' style='width:@Model.GetUiWidth()' entity-data='@Model.GetUiData()'>
    <div class='wall'>
        <div class='header'>
            <span class='title'>Wall</span>
            <a class='delete'>delete</a>
        </div>
        <div class='content'>
            @foreach (var brick in Model.Bricks.OrderBy(b => b.Order))
            {
                @Html.Partial("DesignBrick", brick);
            }
        </div>
    </div>
</div>