@using Ms.Cms.Models
@using Ms.Cms.Web

@model Brick

<div class='brick-wrapper' style='width:@Model.Width.ToString("F")%' entity-data='@Model.ToJson()'>
    <div class='brick'>
        <div class='header'>
            <span class='title'>@Model.Title</span>
            <a class='delete'>delete</a>
            @Html.ActionLink("edit", "Edit", "Brick", new { id = Model.Id }, new { @class = "edit" })
        </div>
        <div class='content'>
            @Html.Partial("~/Views/Brick/BrickContent.cshtml", Model)
        </div>
    </div>
</div>