@using Bnh.Entities
@model IEnumerable<Wall>
<div id="scene">
    @foreach (var wall in Model.OrderBy(w => w.Order))
    {
        @Html.Partial("DesignWall", wall)
    }
</div>
<div id="wallPrototype">
    @Html.Partial("DesignWall", new Wall { Width = 100.0F })
</div>
<div id="brickPrototype">
    @Html.Partial("DesignBrick", new EmptyBrick { Width = 100.0F })
</div>
