@using Ms.Cms.Models
@model IEnumerable<Wall>
<div id="scene">
    @foreach (var wall in Model.OrderBy(w => w.Order))
    {
        @Html.Partial("~/Views/Brick/Wall.cshtml", wall)
    }
</div>