@model Bnh.Entities.Builder

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-view">
    <h2>Confirmation</h2>

    <h3>Are you sure you want to delete @Model.Name?</h3>
    @using (Html.BeginForm()) {
        <p>
            <span class="alter"><input type="submit" value="Delete" /></span>
            @Html.ActionInputLink("Cancel", "Index")
        </p>
    }
</div>