
body { background-image: url(../Images/background.png); background-position: center 10px; background-repeat: repeat-x; font-family: Tahoma, "Helvetica Neue", Arial, Helvetica, sans-serif; font-size: 13px; margin: 0; color: #434343; overflow-y: scroll; }

.page { width: 55%; min-width: 960px; margin: 0px auto; /* centering */ }

    .page .header .logo { background-image: url(../Images/logo.png); width: 289px; height: 70px; margin-top: 17px; margin-bottom: 15px; float: left; }

    .page .header .user-display { float: right; margin-top: 30px; }

    /* menu */

    .page .menu { clear: both; }

        .page .menu ul { list-style-image: none; list-style-type: disc; margin: 0px; padding: 0px; }

        .page .menu li { background: #eaeaea; border: 1px solid #dbdbdb; list-style-image: none; list-style-type: disc; display: block; float: left; margin: 0px 2px -1px 0px; line-height: 24px; }

            .page .menu li.current { border-bottom: 1px solid #fff; background: #fff; }

        .page .menu a { font-size: 110%; padding: 0 18px; color: #333; text-decoration: none; }

a:focus, a:hover { text-decoration: underline; }

a { color: #5087a9; text-decoration: none; }

nav ul li.separator { background: none; border: none; margin: 0px; }

/* end menu */


/* content */
.content { clear: both; padding: 20px 12px; }

/* end content */


/* footer */

.footer { clear: both; color: #999; font-size: 85%; }

/* end footer */


/* common */

/* Headings */
h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 10px 0; }

h1 { font-size: 150%; }
h2 { font-size: 130%; }
h3 { font-size: 120%; }
h4 { font-size: 115%; }
h5 { font-size: 110%; }
h6 { font-size: 110%; }

.right { float: right; }

/* end common */

/* buttons */

input[type="submit"], input[type="button"], button, .button, .button:link, .button:visited { color: #333; background: #F5F5F5; background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#cbcbcb)); background: -moz-linear-gradient(top, #F5F5F5, #cbcbcb); border: 1px solid #999; cursor: pointer; margin: .2em 0 2em 0; padding: .3em 1.8em; text-align: center; }

    input[type="submit"]:hover, input[type="button"]:hover,
    input[type="submit"]:active, input[type="button"]:active,
    input[type="submit"]:focus, input[type="button"]:focus,
    button:hover, .button:hover,
    button:active, .button:active,
    button:focus, .button:focus { text-decoration: none; background: #ebebeb; background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#ebebeb)); background: -moz-linear-gradient(top, #e1e1e1, #ebebeb); }

/* end buttons */


/* editor fields */

.editor-field { margin-bottom: 15px; }

/* end editor fields */


/* misc */

.hide { display: none; }

/* end misc */


/* pager */

.pager a, .pager label { margin: 0 1px; }
    .pager .page { padding: 0 6px; border: 1px solid gray; }
    .pager .active { background-color: #F5F5F5 }
    .pager label { color: gray; border-color: gray; text-decoration: none; cursor:default;}

/* end pager */


/* review */

.review-container { margin: 20px 0; border: solid 1px lightgrey; padding: 10px; position: relative; }
    .review-container .rating label { display: inline-block; width: 100px; }
    .review-container .message { padding: 7px; }
    .review-container .delete { position: absolute; right: 0; top: 0; }

    
    .review-container .review { margin-left: 75px; }
        .review-container .review .answer { display: inline; }

    .review-container .avatar { position: absolute; }
    .review-container .user { font-weight: bold; }
    .review-container .time { font-size: 85%; }

    .review-container .scale { width: 50px; height: 12px; display: inline-block; }
        .review-container .scale.l { background-color: #FC6; }
        .review-container .scale.r { background-color: #F4F4CF; }

    .review-container .comment-container { margin: 10px 0; }
        .review-container .comment { margin-left: 35px; } 
    

.addCommentSection { display: none; }
.hidden { display: none; }

textarea { width: 500px; }

/* end review */