.hand
{
    width: 31px;
    height: 31px;
    background-image: url(http://google.com/mapfiles/ms/t/Bsu.png);
    float: left;
}
.hand.selected
{
    background-image: url(http://google.com/mapfiles/ms/t/Bsd.png);
}

.placemark
{
    width: 31px;
    height: 31px;
    background-image: url(http://google.com/mapfiles/ms/t/Bmu.png);
    float: left;
}
.placemark.selected
{
    background-image: url(http://google.com/mapfiles/ms/t/Bmd.png);
}

.line
{
    width: 31px;
    height: 31px;
    background-image: url(http://google.com/mapfiles/ms/t/Blu.png);
    float: left;
}
.line.selected
{
    background-image: url(http://google.com/mapfiles/ms/t/Bld.png);
}

.shape
{
    width: 31px;
    height: 31px;
    background-image: url(http://google.com/mapfiles/ms/t/Bpu.png);
    float: left;
}
.shape.selected
{
    background-image: url(http://google.com/mapfiles/ms/t/Bpd.png);
}

#mapCanvas
{
    clear: both;
}