.review-container { margin: 20px 0; border: solid 1px lightgrey; padding: 10px; position: relative; }
    .review-container .rating label { display: inline-block; width: 100px; }
    .review-container .message { padding: 7px; }
    .review-container .delete { position: absolute; right: 0; top: 0; }

    .review-container .avatar { position: absolute; }
    .review-container .review { margin-left: 75px; }
    .review-container .user { font-weight: bold; }

    .review-container .time { font-size: 85%; }

    .review-container .scale { width: 50px; height: 12px; display: inline-block; }
        .review-container .scale.l { background-color: #FC6; }
        .review-container .scale.r { background-color: #F4F4CF; }

    .review-container .comment-container { margin: 10px 0; }
        .review-container .comment { margin-left: 35px; } 
    

.add-review { }

.commentsSection { display: none; }
.addCommentSection { display: none; }
.hidden { display: none; }

textarea { width: 500px; }